body {
    background-color: #dfdfdf;
    width: 320px;
    height: 160px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    font-family: 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, Ubuntu, 'Open Sans';
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

currentPageInfo {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: flex-start;
}
#pageInfoTitle {
    font-size: 20px;
    font-weight: 450;
    margin: 4px 0;
    text-wrap: wrap;
}
#pageInfoURL {
    font-size: 14px;
    font-weight: 400;
    margin: 2px 0;
}

#SharePage {
    font-size: 15px;
    font-weight: 250;
    border: none;
    border-radius: 10px;
    background-color: #efefef;
    padding: 8px;
}
#SharePage:hover {
    background-color: #ffffff;
}

footer {
    position: relative;
    bottom: 0;
    margin: 10px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
#extLogo {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}
#extName {
    font-size: 22px;
    text-align: center;
}